<!doctype html>
<html id="PayloadObject" ng-app="PayloadObject">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <!-- <script src="js/jquery-1.12.3.min.js"></script> -->
    <script src="js/payloadobject.js"></script>
    <script src="js/foundation/jquery.js"></script>
    <script src="js/jqueryui/jquery-ui.min.js"></script>
    <script src="js/foundation/foundation.min.js"></script>
    <link rel="stylesheet" href="js/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div ng-controller="PayloadCtrl as payload">
	    <div class="top-bar">
		  <div class="top-bar-left">
		    <ul class="dropdown menu" data-dropdown-menu>
		      <li class="menu-text">Interactive CDA Document Builder</li>
		      <li>
		        <a id="chosenDocumentType">Transfer of Care</a>
		        <ul class="menu vertical">
				  <li ng-repeat="payloadOption in payload.payloadList">
				  	<a ng-click="payload.setDocumentType(payloadOption.name, payloadOption.packg, payloadOption.label)"
				  		>{{payloadOption.label}}</a>
				  </li>
		        </ul>
		      </li>
		    </ul>
		  </div>
		</div>
	    
	    <div class="row" id="breadcrumbs">
		  <div class="large-12 columns">
			<nav aria-label="You are here:" role="navigation">
			  <ul class="breadcrumbs">
			    <li>{{payload.packg}}</li>
			    <li ng-repeat="payloadName in payload.payloadStack">{{payloadName}}</li>
			  </ul>
			</nav>
		  </div>
		</div>
		
		<div class="row">
		  <div class="large-6 columns">
		    <form>
				<div class="row" ng-repeat="field in payload.fields">
				  <div class="large-12 columns">
					<label>
						<a title="{{field.description}}">{{field.name}}</a>
					    <input type="text" placeholder="{{field.type}}"
					    		ng-model="field.value"
					    		ng-if="field.type == 'String' || field.type == 'XML'" />
					    <select ng-model="field.value"
					    		ng-if="field.type == 'CodedValue'">
					    	<option ng-repeat="vocabField in field.vocabValues.entries"
					    		value="{{vocabField.code}}">{{vocabField.displayName}}</option>
					    </select>
					    <input disabled type="text" placeholder="Fields of {{field.type}} not yet supported!"
					    		ng-model="field.value"
					    		ng-if="(field.type == 'HL7Date' ||
					    			    field.type == 'Templated' ||
					    			    field.type == 'CompositionalStatement')" />
				    </label>
				    
				    <!-- Child payloads -->
				    <div class="childPayloadField"
				    	 ng-if="!(field.type == 'String' ||
					    			     field.type == 'XML' ||
					    			     field.type == 'HL7Date' ||
					    			     field.type == 'CodedValue' ||
					    			     field.type == 'Templated' ||
					    			     field.type == 'CompositionalStatement')">
				   	  <div>
					    <a ng-click="payload.save('push',field.type, field.typePackage, field.name)"
						   		>Open child payload</a>
					  </div>
				    </div>
				  </div>
				</div>
			</form>
		  </div>
		  <div class="large-6 columns">
		    <div class="instructions">
		    	Hover over a field name to get more details about the field.
		    </div>
		    <div>
		    	<a class="button" ng-click="payload.save('pop')"
		    		ng-if="payload.payloadStack.length > 1">Save and Return to Parent</a>
		    </div>
		    <div>
		    	<a class="button" ng-click="payload.generateCDA()">Generate CDA</a>
		    	<a class="button" href="#">Generate Rendered Document</a>
		    </div>
			<textarea id="cda" ng-model="payload.cda"></textarea>
		  </div>
		</div>
    </div>
    
    <script>
      $(document).foundation();
      $( document ).tooltip();
    </script>
  </body>
</html>