<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Simple Web GUI for creating CDA documents dynamically</display-name>

	<servlet>
	   <servlet-name>PayloadObjectServlet</servlet-name>
	   <servlet-class>uk.nhs.interoperability.payloads.gui.api.PayloadObjectServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>GenerateCDAServlet</servlet-name>
	   <servlet-class>uk.nhs.interoperability.payloads.gui.api.GenerateCDAServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>VocabServlet</servlet-name>
	   <servlet-class>uk.nhs.interoperability.payloads.gui.api.VocabServlet</servlet-class>
	</servlet>
	<servlet>
	   <servlet-name>SavePayloadServlet</servlet-name>
	   <servlet-class>uk.nhs.interoperability.payloads.gui.api.SavePayloadServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>PayloadObjectServlet</servlet-name>
	   <url-pattern>/payload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>GenerateCDAServlet</servlet-name>
	   <url-pattern>/generateCDA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>VocabServlet</servlet-name>
	   <url-pattern>/vocab</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	   <servlet-name>SavePayloadServlet</servlet-name>
	   <url-pattern>/save</url-pattern>
	</servlet-mapping>	
</web-app>
